<div fxFlex class="list-component-holder">
  <mat-toolbar class="form-header full-width">
    <h1 class="mat-headline">Available Rides</h1>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-list>
      <div fxLayout="column" fxFlex="100" class="content">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let ride of rides">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p matline>Ride</p>
              </mat-panel-title>
              <mat-panel-description>
                <p matLine>Show info</p>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-ridedetails [ride] = "ride" [loggedIn]="loggedIn" [searchRides]="searchRides"></app-ridedetails>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-list>
  </div>
</div>
