<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Smoker</th>
        <th class="text-right">Gender</th>
      </tr>
      <tr *ngFor="let carpooler of carpoolers">
        <td>
          <a [routerLink]="['/pages/view', carpooler.carpoolerId]">{{carpooler.firstName}} {{carpooler.lastName}}</a>
        </td>
        <td>
          {{carpooler.username}}
        </td>
        <td>
          {{carpooler.smoker}}
        </td>
        <td class="text-right">
          {{carpooler.gender}}
        </td>
      </tr>
    </table>
</div>
