<label id="feedback">{{feedback}}</label>
<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="form">

  <mat-form-field class="full-width">
    <input [(ngModel)]="loginUser.username"
           name="username"
           formControlName="username"
           id="username"
           type="text"
           placeholder="Please enter your username"
           class="form-control"
           required matInput>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      [(ngModel)]="loginUser.password" name="password"
      formControlName="password"
      id="password"
      type="password"
      class="form-control input"
      placeholder="please enter your password"
      required matInput>
  </mat-form-field>
  <label>{{error}}</label><br/>
  <button mat-raised-button color="primary" type="submit" (click)="clickLogin()" [disabled]="!form.valid">log in
  </button>
</form>
