<div class="publicwrapper">
  <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center brodered">
      <div class=" mat-elevation-z4">
        <mat-toolbar color="primary" class="mat-elevation-z4 " fxLayoutAlign="center center">
          <img src="../../../assets/car-256-white.png" width="36px">
          <h1 class="logo">RIDE<span style="font-size: 12px;">WITH</span>ME</h1>
        </mat-toolbar>
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
</div>
