$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.help {

}

.is-danger {

}

.publicwrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100%;
  background-image: url('../../../assets/slide-3-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


