<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>first Name</th>
      <th>last Name</th>
      <th>username</th>
      <th>smoker</th>
      <th>gender</th>
    </tr>
    <tr *ngFor="let carpooler of carpoolers">
      <td>
        {{carpooler.firstName}}
      </td>
      <td>
        {{carpooler.lastName}}
      </td>
      <td class="text-right">
        {{carpooler.username}}
      </td>
      <td>
        {{carpooler.smoker}}
      </td>
      <td class="text-right">
        {{carpooler.gender}}
      </td>
    </tr>
  </table>
</div>
