<p matLine>Departure Time Outward Journey: {{ride.departureTimeOutwardJourney |date:'dd/MM/yyyy @hh:mm'}}</p>
<p matLine>Departure Time Return trip: {{ride.departureTimeReturnTrip |date:'dd/MM/yyyy @ hh:mm'}}</p>
<p matline>Car used: {{ride.chosenCar.type}} - {{ride.chosenCar.maxAmountPassengers}} places</p>
<p matline>Locations passed :</p>
<p matLine *ngFor="let location of ride.locations">
  lat: {{location.latitude}} -- long: {{location.longitude}}
</p>
<p matline>Passengers:
  <a *ngFor="let uri of ride.userRideInfos"> {{uri.user.username}} </a>
</p>
<p matline>rideRequests by:
  <a *ngFor="let rideRequest of ride.rideRequests"> {{rideRequest.user.username}} </a>
</p>
