.list-component-holder {
  border: 1px solid #327ebd;
  background-color: white;
}

.form-header {
  background-color: #327ebd;
  color: white;
  padding: 0 5px;
}


.full-width {
  width: 100%;
}
.content {
  padding: 10px;
}

mat-card {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
