<mat-card>
  <mat-card-title>Apply For Ride</mat-card-title>
  <mat-card-content>

    <div fxFlex class="list-component-holder">
      <mat-toolbar class="form-header full-width">
        <h1 class="mat-headline">Fill out the applicationform</h1>
      </mat-toolbar>
      <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="rideRequestForm" class="content">
        <mat-form-field class="full-width">
          <input [(ngModel)]="rideRequest.requestText"
                 name="requestText"
                 formControlName="requestText"
                 id="requestText"
                 type="text"
                 placeholder="Enter any extra information for the request here."
                 class="form-control" matInput>
        </mat-form-field>

        <mat-form-field class="content">
          <mat-select placeholder="pick up (see details)" [(ngModel)]="rideRequest.startLocation"
                      name="startLoc" formControlName="startLoc">
            <mat-option *ngFor="let location of ride.locations" [value]="location">
              {{location.latitude}} -- {{location.longitude}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="content">
          <mat-select placeholder="drop off (see details)" [(ngModel)]="rideRequest.endLocation"
                      name="endLoc" formControlName="endLoc">
            <mat-option *ngFor="let location of ride.locations" [value]="location">
              {{location.latitude}} -- {{location.longitude}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="content">
        <p>
          {{validMessage}}
          <mat-error>{{notValidMessage}}</mat-error>
        </p>
        <button mat-raised-button color="primary" type="submit" (click)="clickApply()">Apply</button>
      </div>
    </div>
    <p></p>
    <div fxFlex class="list-component-holder">
      <mat-toolbar class="form-header full-width">
        <h1 class="mat-headline">Ride Details</h1>
      </mat-toolbar>
      <div fxLayout="row" fxLayoutGap="20px" class="content">
        <app-ridedetails [loggedIn]="loggedIn" [ride]="ride"></app-ridedetails>
      </div>
    </div>
    <p></p>
  </mat-card-content>
  <p></p>
  <p></p>
</mat-card>

