<mat-card-title>
  <a class="redirect" (click)="clickSearchRide()">Find Rides</a>
  <a class="redirect" (click)="clickLogin()">User Login</a>
  Register
</mat-card-title>
<mat-card-content>
<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="form" name="loginForm">
  <mat-form-field class="full-width">
    <label for="firstName">First Name</label>
    <input
      [(ngModel)]="registerUser.firstName" name="firstName"
      formControlName="firstName"
      id="firstName"
      type="text"
      class="form-control"
      required matInput>
    <mat-error *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
      <mat-error *ngIf="firstName.errors.required">First name is required</mat-error>
      <mat-error *ngIf="firstName.errors.minlength">First name must be {{firstName.errors.minlength.requiredLength}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <label for="lastName">Last name:</label>
    <input
      [(ngModel)]="registerUser.lastName" name="lastName"
      formControlName="lastName"
      id="lastName"
      type="text"
      class="form-control"
      required matInput>
    <mat-error *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
      <mat-error *ngIf="lastName.errors.required">Last name is required</mat-error>
      <mat-error *ngIf="lastName.errors.minlength">Last name must be {{lastName.errors.minlength.requiredLength}}</mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label for="birthday">Birthday:</label>
    <input
      [(ngModel)]="registerUser.birthday" name="birthday"
      formControlName="birthday"
      id="birthday"
      type="date"
      class="form-control"
      required matInput>
    <mat-error *ngIf="birthday.touched && birthday.invalid" class="alert alert-danger">
      <mat-error *ngIf="birthday.errors.required">Birthday is required</mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field class=" full-width">
    <input matInput style="display: none" >
    <mat-radio-group [(ngModel)]="registerUser.gender" class="radio-button" formControlName="gender"
                     id="gender">
      <label for="gender">Gender:</label>
      <mat-radio-button *ngFor="let gender of genders" [value]="gender" class="radio-button">
        {{gender}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label for="email">Email:</label>
    <input
      [(ngModel)]="registerUser.email" name="email"
      formControlName="email"
      id="email"
      type="email"
      class="form-control"
      required matInput>
    <mat-error *ngIf="email.touched && email.invalid" class="alert alert-danger">
      <mat-error *ngIf="email.errors.required">Email is required</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <label for="username">Username</label>
    <input
      [(ngModel)]="registerUser.username" name="username"
      formControlName="username"
      id="username"
      type="text"
      class="form-control"
      required matInput>
    <mat-error *ngIf="username.touched && username.invalid" class="alert alert-danger">
      <mat-error *ngIf="username.errors.required">Username is required</mat-error>
      <mat-error *ngIf="username.errors.minlength">Username must be {{username.errors.minlength.requiredLength}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <label for="password">Password</label>
    <input
      [(ngModel)]="registerUser.password" name="password"
      formControlName="password"
      id="password"
      type="password"
      class="form-control"
      required matInput>
    <mat-error *ngIf="password.touched && password.invalid" class="alert alert-danger">
      <mat-error *ngIf="password.errors.required">Password is required</mat-error>
      <mat-error *ngIf="password.errors.minlength">Password must be {{password.errors.minlength.requiredLength}}</mat-error>
    </mat-error>
    <mat-error *ngIf="password.touched && password2.touched && !_passwordsAreTheSame" class="alert alert-danger">
      <mat-error *ngIf="!passwordsAreTheSame">{{passwordError}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <label>Retype password</label>
    <input
      (keyup)="checkPassword()"
      formControlName="password2"
      id="password2"
      name="password2"
      type="password"
      class="form-control"
      required matInput>
    <mat-error *ngIf="password2.touched && password2.invalid" class="alert alert-danger">
      <mat-error *ngIf="password2.errors.required">Password is required</mat-error>
      <mat-error *ngIf="password2.errors.minlength">Password must be {{password2.errors.minlength.requiredLength}}</mat-error>
    </mat-error>
    <mat-error *ngIf="password.touched && password2.touched && !_passwordsAreTheSame" class="alert alert-danger">
      <mat-error *ngIf="!passwordsAreTheSame">{{passwordError}}</mat-error>
    </mat-error>
  </mat-form-field>

  <label class="error">{{label}}</label>

  <button mat-raised-button color="primary" type="submit" (click)="clickRegister()">Sign Up</button>
</form>
</mat-card-content>
