<mat-card-title *ngIf="loginForm">Login
  <a class="redirect" [className]="loginForm ? 'active' : ''" (click)="clickSignUpForm()">Register</a>
</mat-card-title>
<mat-card-title *ngIf="!loginForm">Register
  <a class="redirect" [className]="!loginForm ? 'active' : ''" (click)="clickLoginForm()">Login</a>
</mat-card-title>
<mat-card-content>
  <div class="row" *ngIf="loginForm || service.registrationComplete;then login_content else signup_content"></div>
  <ng-template #login_content>
    <login-form></login-form>
  </ng-template>
  <ng-template #signup_content>
    <signup-form></signup-form>
  </ng-template>
</mat-card-content>
