rve<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 fotoContainer">
      <img id="background" src="../../../assets/background.jpg"/>
      <div class="centered">
        <h1>RIDE WITH ME</h1>
        <p>Het platform voor carpooling</p>
      </div>
    </div>
    <div class="col-md-4 center-block">
      <app-form></app-form>
    </div>
  </div>
</div>

<hr/>

<section id="about">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">RIDE WITH ME</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="glyphicon glyphicon-screenshot"></div>
      <h3>Ritten</h3>
      <p>Ga op zoek naar een rit of biedt er eentje aan!</p>
    </div>
  </div>
</section>
