<div fxFlex class="list-component-holder">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-toolbar class="form-header">
      <h1 class="mat-headline">My cars</h1>
    </mat-toolbar>
    <div fxLayout="column" fxFlex="100" class="content" *ngFor="let car of cars">
        <app-cardetails [car]="car" (deleted)="deleteCar($event)"></app-cardetails>
    </div>
    <p></p>
    <form [formGroup]="carForm" fxLayout="column" fxFlex="100" class="content">
      <mat-form-field>
        <label for="type">Car Type: (Brand, model,..) </label>
        <input
          formControlName="type"
          id="type"
          type="text"
          class="form-control"
          matInput>
      </mat-form-field>

      <mat-form-field>
        <label for="consumption">consumption in liters/100km: </label>
        <input
          formControlName="consumption"
          id="consumption"
          type="number"
          class="form-control"
          matInput>
      </mat-form-field>

      <mat-form-field>
        <label for="maxAmountPassengers">amount of passengers: </label>
        <input
          formControlName="maxAmountPassengers"
          id="maxAmountPassengers"
          type="number"
          matInput>
      </mat-form-field>
      <mat-error>{{validMessage}}<p></p></mat-error>
      <div>
        <button mat-raised-button color="primary" (click)="submitCar()" type="submit">Add Car</button>
      </div>
    </form>
  </div>
</div>
